<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Employees List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1> List Employee</h1>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Wage</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="employee, loop : ${employees}">
      <td th:text="${loop.index + 1}"></td>
      <td th:text="${employee.name}"></td>
      <td th:text="${employee.wage}"></td>


    </tr>
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
